@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact US";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>0888 888 888</span>
    </p>
    
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">ivanoffnba@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        New Addres<br />
        Sofia, Bulgaria, 1000
    </p>
</section>