@{
    if (!WebSecurity.IsAuthenticated) {
        Response.Redirect("~/Account/Login?returnUrl="
            + Request.Url.LocalPath);
    }

    Layout = "~/_SiteLayout.cshtml";
    PageData["Title"] = "Flight Error";
}
<p>There are no flights for that directions and timeframe. Try again</p>
<p><a href="~/">Return to flight selection</a></p>